.chatpage{
    .cmpg{min-height:30px;min-width:100%;padding: 8px 10px;position: fixed;z-index: 9; box-shadow: 0 2px 3px #c37343;
        .back,.more{    width: 27px;
            height: 30px;
            margin-top: 10px;
        }
        .more{position: relative; 
            
            .mrdrp{
                &.expand{
                    transform: translateY(0%);
                    max-height: 200px;
                    overflow: auto;
                    transition: all 0.2s ease;
                }
                right: -10px;
                top: -20px;
                min-width: 160px;
                background: #fff;
                border-radius: 3px;
                overflow: hidden;
                max-height: 0;
                line-height:27px;
                position: absolute;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
                li{
                    a{display:block;padding:9px 10px;border-bottom:1px solid #f1f1f1;}
                }
            }
            .vwourpr{
                position:fixed;left:-100%;top:0;width:100%;
                min-height:100vh;background:#fff;transition:.5s left ease;
                &.show{
                    left:0;
                }
                .card-container{
                    width: 100%;
                    height:100%;
                    border-radius: 4px;
                    -webkit-perspective: 800px;
                    -moz-perspective: 800px;
                    -o-perspective: 800px;
                    perspective: 800px;
                    
                    .card{
                        &.rotate{
                            .content{
                                .frpg{left:-100%!important;}
                                .bkpg{left:0!important;}
                            }
                        }
                        background: none repeat scroll 0 0 #FFFFFF;
                        border-radius: 4px;
                        color: #636363;
                        position: relative;
                        transition:all ease .5s;
                        .front{
                            border-radius: 4px;
                            z-index:2;  
                            height:100vh;
                            .cover{

                                height: 200px;
                                border-radius: 4px 4px 0 0;
                                background-size: cover;
                                position: relative;
                                .hdr{position: absolute;
                                    width:35px;
                                    height:50px;
                                    left:5px;
                                    top:5px;}
                                .img{
                                    background-size: cover;
                                    position: absolute;
                                    bottom: -60px;
                                    width: 120px;
                                    height: 120px;
                                    display: block;
                                    border-radius: 50%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    background-size: cover;
                                }
                            }
                            
                            .content{
                                margin-top:55px;
                                overflow: scroll;
                                height: calc(100% - 293px);
                                //position: relative;
                                .frpg,.bkpg{
                                   // position: absolute;
                                    width:100%;
                                    padding:20px;
                                    transition:ease all .5s;
                                }
                                .frpg{
                                   // left:0%;
                                    text-align:center;
                                    .name{margin-bottom:10px;font-size:20px;}
                                    .lving{color:#afaeae;margin-bottom:5px;}
                                    .abtust{line-height:27px;}
                                    
                                }
                                //.bkpg{left:100%;}
                                // .footer{
                                //     position: absolute;
                                //     bottom:0;
                                //     border-top: 1px solid #ddd;
                                //     width: 100%;
                                //     left: 0;
                                //     right: 0;
                                //     text-align: right;
                                //     a{
                                //         display: inline-block;
                                //         padding: 10px 20px;
                                //         i{padding-right:5px;}
                                //     }
                                // }  
                            }
                        }   
                    }
                }
            }
        }
        .perhede{
            width:calc(100% - 54px);
            text-align:center;
            img,span{display:inline;vertical-align:middle;}
            img{width:20%;border-radius:50%;}
            span{width:80%;padding-left:15px;}
        }
    }
    .chrwrp{
        padding:68px 0 0;
        .timestamp{
            width:100%;text-align:center;color:#ccc;background: #f1bc9936;
            p{margin:0;}
        }
        .chtlst{
            background: #f1bc9936;
            min-height: 100vh;
            padding:30px 25px 0;  
        }
    }
.ftrtext{position:fixed;bottom:0;width:100%;min-height:auto;padding:0 15px; box-shadow: 0 -2px 3px #c37343;
.msgbox{position:relative;
    img{position: absolute;width: 25px;height: 25px;bottom: 23px;
    right: 32px;}
}
.mat-form-field{width:90%;font-family: 'Spectral', serif;
input{width:85%;}
}
}
.fu,.fd{
    position: relative;
    background: #f1bd99;
    border-radius: .4em;    
    padding:10px;width:75%;
    margin:0 0 10px;
}
.fu::after,.fd::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right-color: #f1bd99;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -17px;
}
.fd::after{
    margin-left: 98%;
    transform:rotate(-90deg);
}    
}

            
// .card-container:not(.manual-flip):hover .card{
//     -moz-transform: rotateY( 180deg );
//     -o-transform: rotateY( 180deg );
//     transform: rotateY( 180deg );
// }