<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyMaterial</span>

    <span class="example-spacer"></span>
    
    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar> -->

<div class="cmpg hmpg">


  <form validate #frForm="ngForm" class="logfld rgst">
    <mat-form-field>
      <input #chatid="ngModel" matInput placeholder="User id / Email id" [(ngModel)]='uid' name="uid" required>
    </mat-form-field>
    <div *ngIf="chatid.errors && (chatid.dirty || chatid.touched)" class="alert alert-danger">
      <p class="ermsg mrdow" [hidden]="!chatid.errors.required">
        Either user id or Emamil id Must!
      </p>
    </div>




    <a class="subbtn">
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip [ngClass]="{'disables': frForm.form.invalid,'enabled' : frForm.form.valid }" (click)="forgotPswdOTP()" selected="true">
          Submit
        </mat-chip>
      </mat-chip-list>
    </a>




    <a routerLink="/rgstr">Need new Account?</a>
    <a routerLink="/">Got your password?</a>

  </form>



  <div id="otpv" class="otpsec cmpg">

    <h2>Reset your password</h2>
    <p>Please check you mail for the One time password..</p>
    <form validate #rotpForm="ngForm" class="logfld rgst">
      <mat-form-field>
        <input #otp="ngModel" matInput placeholder="Enter your OTP.." [(ngModel)]='rotp' name="rotp" required>
      
      </mat-form-field>
      <div *ngIf="otp.errors && (otp.dirty || otp.touched)" class="alert alert-danger">
          <p class="ermsg mrdow" [hidden]="!otp.errors.required">
            OTP Must
          </p>
        </div>

      <a class="subbtn">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip [ngClass]="{'disables': rotpForm.form.invalid,'enabled' : rotpForm.form.valid }" (click)="isvalidRstOTP()" selected="true">
            Submit
          </mat-chip>
        </mat-chip-list>

      </a>
    </form>
  </div>



  <div id="rst" class="otpsec cmpg">

    <h2>Reset your password</h2>

    <form validate #rstpFom="ngForm" class="logfld rgst">
      <mat-form-field>
        <input #rspswd="ngModel" [type]="'password'"  matInput placeholder="New password" minlength="6"  maxlength="16" [(ngModel)]='rpswd' name="rpswd" required>
      </mat-form-field>
      <div *ngIf="rspswd.errors && (rspswd.dirty || rspswd.touched)" class="alert alert-danger">
          <p class="ermsg mrdow" [hidden]="!rspswd.errors.required">
            Password Must
          </p>
          <p class="ermsg mrdow" [hidden]="!rspswd.errors.minlength">
              Password should be 6 characters.
            </p>
           
        </div>

      <mat-form-field>
        <input #cpswd="ngModel" [type]="'password'"  matInput placeholder="Confirm password" [(ngModel)]='crpswd' name="crpswd" required>
      </mat-form-field>
      <div *ngIf="cpswd.errors && (cpswd.dirty || cpswd.touched)" class="alert alert-danger">
          <p class="ermsg mrdow" [hidden]="!cpswd.errors.required">
              Password Must
          </p>
        </div>
      <a class="subbtn">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip [ngClass]="{'disables': rstpFom.form.invalid,'enabled' : rstpFom.form.valid }"  (click)="isResetDone()" selected="true">
            Submit
          </mat-chip>
        </mat-chip-list>

      </a>
    </form>

    <p class="rstmsg" *ngIf="fienb">Password Reseted successfully
      <a href="/">Login</a>
      <p>
  </div>

</div>