@import "../../variable.scss";
.dhbo{
    .cmpg{
        min-height:30px;
        position:sticky;
        top:0;
        padding:8px 15px;
        box-shadow: 0 2px 3px #c37343;
        z-index:9;
        .ham{
            width:9%;
            margin-top:11px;
            @include bgimages('/assets/images/icons/back.svg',cover,no-repeat);
            height:30px;
        }
        .ttl{width:70%;text-align:center;color:$whitefc;font-size:18px;padding:8px 0;}
        .upro{
            width: 41px;
            border-radius: 50%;
            position: relative;
            height: 41px;
            img{
                width: 100%;
                height: 100%;
                display: block;
                border-radius:50%;
            }
        }
    }
    .chathst{
        li{
            padding:15px;
            border-bottom: 1px solid #ccc;
            .whtust{width:60px;
                .stwop {
                    position:relative;
                    img{
                        width:100%;
                    }
                    .udp{width:50px;height:50px;border-radius:50%;margin-top: 20px;}
                    .sts{position: absolute; width: 15px;right: -10px;top: 24px;}
                }
            }
            .chtlst{
                width:59%;padding-left:10px;
                .uslst{
                    h3{margin:0;font-size:18px;}
                    .moode{color:#e6786e;font-size:14px;font-weight:600;margin:5px 0 0;}
                    p{margin:5px 0  0;}
                }
            }
            .tims{width:17%;font-size:12px;color:#aba3a3;}
        }
    }
}
.plus{cursor:pointer;position:fixed;bottom:50px;right:15px;@include bgimages('/assets/images/icons/add.svg',cover,no-repeat);width:60px;height:60px;}
.frreq{
    position:fixed;top:0;width:100%;z-index:9;transform: translateY(101%);transition: transform 0.5s;text-align:center;color:#fff;background:#fff;
    .clshlg{
        display:block;cursor:pointer;position:absolute;top:10px;right:10px;width:30px;padding-top:5px;z-index:1;
        i{font-size:25px;}
    }
    p{margin:10px 0 0; }
    .logfld{top:10px;}
    .rstmsg{
        margin-top:20px;
        a{color:#fff;border-bottom:1px dotted #fff;}
    }
    .frstch{min-height:30px;padding:20px 15px 0;}
    .mat-form-field{width:100%;font-family: 'Spectral', serif;}
    .srcht{
        h2{border-bottom: 1px solid #dcdcdc;font-size: 20px;padding: 5px 15px;}
        height:calc(100vh - 87px);color:#636363;text-align:left;overflow:auto;
        ul{
            li{
                padding: 10px 20px 20px;
                border-bottom: 1px solid #dcdcdc;
                background: #ececec;
                .srin{
                    position: relative;
                    .suicn{
                        position: absolute;top: 50%;left: 20px;transform: translate(-50%,-50%);
                        width:40px;height:40px;border-radius:50%;
                        img{width:100%;height:100%;display:block;border-radius:50%;}
                    }
                    .sudet{
                        width:calc(100% - 45px);
                    }
                    .frbn{float:right;width: 100%;margin: 10px 0 0;text-align:right;
                        mat-chip-list{width: 50%;display:inline-block;padding-right: 16px;
                            .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
                                padding:6px 10px;text-align:center;display: block;margin:0;min-height:5px;
                            }
                        }
                    }
                } 
            }
        }
    }
}
.frreq.open{transform: translateY(0%);min-height:100vh;}
.frreq.usrpro{transform: translateY(101%);min-height:100vh;height:100%;z-index:10;overflow:auto}
.frreq.usrpro.open{transform: translateY(0%);}
.usrpro{
    display: inline;
    .usbnr{
        .cvr{
            &::before{
                content:"";
                display:block;
                background:rgba(0, 0, 0, 0.56);
                height:100%;
            }
            display:block;
            @include bgimages('/assets/images/user-profile/sp_cover.jpeg',cover,no-repeat);
            height:300px;
            position:relative;
            .upr{
                position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;
                .inupr{
                    position:relative;width: 120px;margin: 0 auto;
                    
                    img{width:100%;height:100%;margin: 0 auto;display:block;object-fit:cover;width:120px;height:120px;border-radius:50%;border:5px solid rgba(255, 255, 255, 0.4);}
                    .uppr{background: #1b1a1a91;position:absolute;bottom:12px;left:39px;width:35%;border:1px solid #ddd;color:#fff;font-size:10px;font-weight:700;text-align:center;padding:3px;
                    i{
                        color:#fff;padding-left:2px;
                    }
                }

                    
                }
                P,h3{color:$whitefc}
                h3{padding-top:20px;}
                
            }
            .hdr{
                position:absolute;top:0;width:100%;height:50px;padding:0 15px;text-align:left;
                img{width:35px;height:50px;}
            }
            .edico{
                background: #1b1a1a91;
                position: absolute;
                bottom: 10px;
                left: 20px;
                a{
                    
                    padding: 3px;
                    border: 1px solid #ddd;
                    font-size: 10px;
                    font-weight: 700;
                    color: #fff;
                    i{color:#fff;padding-left:2px;}
                }
            }

        }
        .uchos{
            li{
                width:33.33333%;
                display:inline-block;
                border-bottom: 1px solid #ddd;
                padding-bottom: 10px;
                .tabicon{
                    position:relative;width:40px;height:40px;margin:10px auto 0;
                    i{position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 25px;}
                }
            }
        }
        .pro_sc{
            display:none;          
            padding:15px;
            &.show{display:block;}
            &.frl{padding:0;}
            mat-form-field{
                input{color:#636363!important;}
            }
            .frech{
                background: #ececec;
                padding:15px;
                border-bottom: 1px solid #dcdcdc;
                .frdp{
                    width:60px;height:60px;border:3px solid #ddd;border-radius:50%;
                    img{width:100%;height:100%;display:block;}
                }
                .frinf{width:calc(100% - 80px);text-align:left;}
                .frbn{float:right;width:calc(100% - 80px);margin: 15px 0 0;text-align:right;
                    mat-chip-list{width: 50%;display:inline-block;padding-right: 16px;
                        .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
                            padding:6px 10px;text-align:center;display: block;margin:0;min-height:5px;
                        }
                    }
                }
            }
            .stfld{position: relative;
            .upda   {position: absolute;right:0;top:5px;display:none;
                &.show{display:block;}
                i{
                    display: inline-block;
                    padding: 5px 12px;
                }
            }
            } 
            
        } 
    }
}
